* {
	padding: none;
	margin: none;
	margin-block-start: 0em;
    margin-block-end: 0em;
}

.what-style{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(177, 177, 177, 0.20);
	padding: 100px 0px 100px 0px;
}

.what-style h1{
	font-family: 'Staatliches', sans-serif;
	font-size: 48px;
	letter-spacing: 2px;
	color: #16c79a;
}

.what-style h2{
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	letter-spacing: 2px;
}

p.what-p1{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: rgba(0,0,0,.5);
	font-weight: 600;
	margin-top: 30px;
	width: 77ch;
	letter-spacing: 0.4px;
	line-height: 1.6em;
}

p.what-p2{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: rgba(0,0,0,.5);
	font-weight: 600;
	margin-top: 20px;
	width: 77ch;
	letter-spacing: 0.4px;
	line-height: 1.6em;
}

.what-style h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: black;
	letter-spacing: 2px;
	margin-top: 70px;
}

.what-style ul {
	columns: 3;
}

.what-style ul li{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: rgba(0,0,0,.5);
	font-weight: 600;
	color: black;
	padding-top: 20px;
	display: block;
}




























