* {
	padding: none;
	margin: none;
	margin-block-start: 0em;
    margin-block-end: 0em;
}

.business-style{
	letter-spacing: 2px;
	line-height: 1.5;
	padding: 100px 0px 100px 0px;
	background-color: white;
	background-color: rgba(177, 177, 177, 0.20);
}

.business-box{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.business-style h1{
	font-family: 'Staatliches', sans-serif;
	font-size: 48px;
	letter-spacing: 2px;
	color: #16c79a;
}

.whitepaper,
.partners{
	max-width: 700px;
}

.whitepaper h2, 
.partners h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.whitepaper-picture{
	background-size: contain;
	box-sizing: border-box;
	background-repeat: no-repeat;
	width: 40%;
	height: auto;
}

.partners img{
	width: auto;
	height: 70px;
	background-repeat: no-repeat;
	margin: 40px;
	display: inline-block;
}































