* {
	padding: none;
	margin: none;
	margin-block-start: 0em;
    margin-block-end: 0em;
}

.whitepaper-style{
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(177, 177, 177, 0.20);
	letter-spacing: 2px;
	line-height: 1.5;
}

.whitepaper-style h1{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	color: #16c79a;
	margin-top: 100px;
}

.whitepaper-picture{
	background-size: contain;
	box-sizing: border-box;
	background-repeat: no-repeat;
	width: 20%;
	height: auto;
	margin-top: 30px;
}

.whitepaper-style p{
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
}